* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "manrope-regular";
  src: url("./Components/Assets/Fonts/Manrope-Regular.ttf");
}

@font-face {
  font-family: "manrope-medium";
  src: url("./Components/Assets/Fonts/Manrope-Medium.ttf");
}

@font-face {
  font-family: "manrope-bold";
  src: url("./Components/Assets/Fonts/Manrope-Bold.ttf");
}

@font-face {
  font-family: "manrope-extrabold";
  src: url("./Components/Assets/Fonts/Manrope-ExtraBold.ttf");
}


.dark-theme  {
  --clr:#ffffff;
  --background:#000000;
}

.light-theme  {
    --clr:#000000;
    --background:#ffffff;
  }
  




body {
  background-color: var(--background) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--list); 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffd901; 
}

.container {
  width: 100%;
  max-width: 1200px !important;
  margin: 0 auto;
}